.idea/
venv-win/
venv/
venv-w/
*.swp
src/__pycache__
dist/
build/
.vscode/
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.exe
*.csv
*.zip
*.aux
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.doc
docs/
*.fdb_latexmk
*.fls
hjy.py
__latexindent_temp.*
